#team1 {
	position: absolute;
	top:-5px;
	left:300px;
	color: red;
}

#team2 {
	position: absolute;
	top:-5px;
	left:500px;
	color: red;
}


#schedule {
	position: absolute;
	top:-5px;
	left:740px;
	color: blue;
}

#matches {
	position: absolute;
	top:50px;
	left:760px;
	color: black;
}


p{
	position: absolute;
	top:-3px;
	right:50px;
}

h4{
	position: absolute;
	top:-9px;
	right:150px;
}

