#leader {
	position: absolute;
	top:-5px;
	left:400px;
	color: green;
}



#schedule {
	position: absolute;
	top:-5px;
	left:700px;
	color: blue;
}


p{
	position: absolute;
	top:-3px;
	right:50px;
}

h4{
	position: absolute;
	top:-9px;
	right:150px;
}

