

{% extends "base.html" %}

{% block content %}

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />

 	{% if form.errors %}
 		<p class="error"> sorry, wrong username and pasword</p>
 	{% endif %}
 	<div>
 	<h1>Login</h1>
	    <form action="/accounts/auth/" method="post"> {% csrf_token %} 
	    	<label for= "username" >user name:</label>
	    	<input type="text" name="username" value="" id="username">
	    	<label for="password">password:</label>
	    	<input type="password" name="password" value="" id="password">
	    	<input type="submit" value="login" />
	    </form>
    </div>
    <div>
    	<p>new user?</p>
    	<p><a href="/accounts/register/"> <button>Register</button> </a></p>
    </div>
    <h2>leader board</h2>
    <p id = "userList"> 
    	{% for object in user_names %}
             <li>{{ object.username }} </li>
        {% endfor %}
    </p>
    <h3>schedule</h3>
    <p id = "matches"> 
    	{% for object in match_name %}
             <li>{{ object.match_name }} -- {{object.pub_date }}</li>
        {% endfor %}
    </p>	

{% endblock %}
