

{% extends "base.html" %}

{% block content %}

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
    <script type="text/javascript">

  function checkForm(form)
  {
    if(form.username.value == "") {
      alert("Error: Username cannot be blank!");
      form.username.focus();
      return false;
    }
    re = /^\w+$/;
    if(!re.test(form.username.value)) {
      alert("Error: Username must contain only letters, numbers and underscores!");
      form.username.focus();
      return false;
    }

    if(form.password.value != "" && form.password.value == form.pwd2.value) {
      if(form.password.value.length < 6) {
        alert("Error: Password must contain at least six characters!");
        form.password.focus();
        return false;
      }
      if(form.password.value == form.username.value) {
        alert("Error: Password must be different from Username!");
        form.password.focus();
        return false;
      }
      re = /[0-9]/;
      if(!re.test(form.password.value)) {
        alert("Error: password must contain at least one number (0-9)!");
        form.password.focus();
        return false;
      }
      re = /[a-z]/;
      if(!re.test(form.password.value)) {
        alert("Error: password must contain at least one lowercase letter (a-z)!");
        form.password.focus();
        return false;
      }
      re = /[A-Z]/;
      if(!re.test(form.password.value)) {
        alert("Error: password must contain at least one uppercase letter (A-Z)!");
        form.password.focus();
        return false;
      }
    } else {
      alert("Error: Please check that you've entered and confirmed your password!");
      form.password.focus();
      return false;
    }

    alert("You entered a valid password: " + form.password.value);
    return true;
  }

</script>

 	{% if form.errors %}
 		<p class="error"> sorry, wrong username and pasword</p>
 	{% endif %}
 	<div>
 	<h1>Login</h1>
	    <form action="/accounts/auth/" method="post" onsubmit="return checkForm(this);"> {% csrf_token %} 
	    	<label for= "username" id="userfield" >user name:</label>
	    	<input type="text" name="username" value="" id="username">
	    	<label for="password" id = "passwordfield">password:</label>
	    	<input type="password" name="password" value="" id="password">
	    	<input type="submit" value="login" id = "submittype" />
	    </form>
    </div>
    <div id = "registerblock">
    	<p>new user?</p>
    	<p><a href="/accounts/register/"> <button>Register</button> </a></p>
    </div>

    <div id = "leader">
    <h1>LeaderBoard</h1>
    </div>

    <div id = "userList">
    <p > 
    	{% for object in user_names %}
             <li>{{ object.username }} </li>
        {% endfor %}
    </p>
    </div>

    <div id = "schedule">
    <h1>Schedule</h1>
    </div>
    <div id = "matches">
    <p> 
    	{% for object in match_name %}
             <li>{{ object.match_name }} -- {{object.pub_date }}</li>
        {% endfor %}
    </p>	
    </div>

{% endblock %}
