<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>User Login / Sign Up </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesomelogin/css/font-awesome.min.css" />

    <script type="text/javascript" src="jslogin/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
    {% extends "base.html" %}

{% block content %}

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />

 	{% if form.errors %}
 		<p class="error"> sorry, wrong username and pasword</p>
 	{% endif %}
<div style="display:flex">
<div class="container">
 	<div style="align:centre">
 	    <h1>Login</h1>
	        <form action="/accounts/auth/" method="post" class="col-md-12"> {% csrf_token %} 
            <div class="form-group">
    	    	<label for= "username" >UserName:</label>
    	    	<input type="text" name="username" value="" id="username">
            </div>
            <div class="form-group">
    	    	<label for="password"> Password : </label>
    	    	<input type="password" name="password" value="" id="password">
            </div>
            <div class="form-group">
    	    	<button type="submit" class="btn btn-danger">Login</button>
            </div>
	        </form>
        <br>
        <br>
        <br>
    
    </div>
    <div>
        <br>
        <br>
    	<h2>New User?</h2>
        <form action="/accounts/register/">
            <button type="submit" class="btn btn-danger">Register Here</button>
    	   <!-- <p><a href="/accounts/register/"> <button>Register Here</button> </a></p> -->
        </form>
    </div>
    <br>
    <br> 
        
<!--     <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">Click for Leader Board</button>
        <div id="demo" class="collapse">
            <p id = "userList"> 
                    {% for object in user_names %}
                         <li>{{ object }} -- {{object.full_points}} </li>
                    {% endfor %}
                </p>
        </div>
        <br>
        <br>
        <br>
    
    <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo1">Click for Match Schedule</button>
        <div id="demo1" class="collapse">
            <p id = "matches"> 
    	           {% for object in match_name %}
                        <li>{{ object.match_name }} -- {{object.pub_date }}</li>
                    {% endfor %}
            </p>
        </div>	 -->
</div>
<div style="margin:1%">

    <button type="button" style = "font-size:150%" class="btn btn-danger" data-toggle="collapse" data-target="#demo">Click for Leader Board</button>
        <div id="demo" class="collapse">
            <p id = "userList"> 
                {% for object in user_names %}
                    <p  style = "font-weight:bold">{{ object }} -- {{object.full_points}} </p>
                {% endfor %}
            </p>
        </div>
        <br>
        <br>
        <br>
</div>
<div style="margin:1%">    
    <button type="button"  style = "font-size:150%" class="btn btn-danger" data-toggle="collapse" data-target="#demo1">Click for Match Schedule</button>
        <div id="demo1" class="collapse">
            <p id = "matches" style = "font-color:150%"> 
                   {% for object in match_name %}
                        <p  style = "font-weight:bold">{{ object.match_name }} -- {{object.pub_date }}</p>
                    {% endfor %}
            </p>
        </div>  


</div>
</div>
{% endblock %}

</body>
</html>

