body {
	background-image: url("fantasy.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	text-align: center;
}

/*h2 {
	position: absolute;
	top:-3px;
	left:230px;
	color: white;
	font-style: bold;
}

#usernametext {
	position: absolute;
	top:70px;
	left:-20px;
	font-size: 130%;

}


#username {
	position: absolute;
	top:70px;
	left:250px;
}

#first_nametext {
	position: absolute;
	top:100px;
	left:50px;
	font-size: 130%;
}

#first_name {
	position: absolute;
	top:100px;
	left:250px;
}

#last_nametext {
	position: absolute;
	top:130px;
	left:50px;
	font-size: 130%;
}

#last_name {
	position: absolute;
	top:130px;
	left:250px;
}

#emailtext {
	position: absolute;
	top:160px;
	left:50px;
	font-size: 130%;
}

#email {
	position: absolute;
	top:160px;
	left:250px;
}

#password1text {
	position: absolute;
	top:190px;
	left:50px;
	font-size: 130%;
}

#password1 {
	position: absolute;
	top:190px;
	left:250px;
}

#password2text {
	position: absolute;
	top:220px;
	left:50px;
	font-size: 130%;
}

#password2 {
	position: absolute;
	top:220px;
	left:250px;
}

#button {
	position: absolute;
	top:290px;
	left:100px;	
	width: 20em;  
	height: 2em;
}*/